
/* Usar la medida 'em' que es proporcional a diferencia de px */
body {

    text-align: justify;
    font-size: 1.2rem; 
    font-family: Arial, Helvetica, sans-serif;
}

/* Usar estos ajustes para moviles */
img {
    max-width: 100%;
    height: auto;
}

/* PRUEBAS DE ALINEAMIENTO */

header {

    border: 0.2rem;
    border-style: solid;
    border-color: red;
}

.left {
    text-align: left;
}

.rigth {
    text-align: right;
}

nav {
    align-items: center;
    margin-right: 1rem;
    background-color: #a9c25d;
    width: 100%;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}


nav img {
    border: 0.1rem;
    border-style: solid;
    border-color: darkgoldenrod;
    width: 4rem;
    margin-left: 1rem;
}

nav li:nth-child(1) {
    float: left;
}

.creacion-cuenta {
    border: solid;
}

