body {
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}

/* DIV'S PRINCIPALES */

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*
    border-width: 2px;
    border-color: red;
    border-style: solid;
    */
    background-color: #6dc420;
    /*Otra forma -> border: 2px solid red*/
}

.header .tr .td .button {
    width: 100px;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*
    border-width: 2px;
    border-color: green;
    border-style: solid;
    */
}

.content .imagenes {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.content .imagenes .td {

    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.content .imagenes .td img {

    border-radius: 15%;
}


.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    */
}

/* TABLAS */

.header .table {
    display: table;
    width: 100%;
}

.content .table {
    display: table;
    width: 100%;
}

.tr {
    display: table-row;
    /*
    border-width: 2px;
    border-style: solid;
    */
}

.td {
    display: table-cell;
    /*
    border-width: 2px;
    border-style: solid;
    */
}


#btnCompartir {

    height:50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://w7.pngwing.com/pngs/929/858/png-transparent-share-icon-computer-icons-sharethis-sharing-button-monochrome-sharing-share-icon.png");
    background-size: cover;
    background-position: center;
    
}

#btnSupermercados {

    height:50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://icon-library.com/images/basket-icon/basket-icon-17.jpg");
    background-size: cover;
    background-position: center;
    
}

#btnAgregar {

    height:50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://flyclipart.com/thumb2/small-icons-add-icons-instagram-icon-with-png-and-vector-format-884476.png");
    background-size: cover;
    background-position: center;
  
}

#btnEliminar {

    height:50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://www.pngitem.com/pimgs/m/77-772668_remove-icon-png-transparent-png.png");
    background-size: cover;
    background-position: center;
    
}

#btnBuscar {

    height:50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://cdn-icons-png.flaticon.com/512/64/64673.png");
    background-size: cover;
    background-position: center;
}

#png {
    background:transparent;
}

#table-cuenta {
    
    display: inline-block;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border: solid;
    margin-left: 40%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    
}

#email  {
    padding-right: 30%;
    margin-top: 5%;
}

#contrasenia  {
    padding-right: 30%;
    margin-top: 5%;
}

#crear-cuenta {
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 5%;
}

#iniciar-sesion {
    padding-right: 5%;
    padding-left: 5%;
}

#td-akebia {
    margin: auto;
    width: 50%;
}

p {
    margin-bottom: 50%;
}

.principal-td {
    margin-top: 50%;
}

.center {
    margin-left: 50%;
}

.table-conocenos {
    display: flex;
    justify-content: center;
}

#table-akebia {
    margin: auto;
    width: 50%;
    text-align: center;
}

#navbar {
    margin: auto;
    text-align: center;
}



